/ProgrammingBlockchain/bin/Debug/netcoreapp2.0/ProgrammingBlockchain.deps.json
/ProgrammingBlockchain/bin/Debug/netcoreapp2.0/ProgrammingBlockchain.dll
/ProgrammingBlockchain/bin/Debug/netcoreapp2.0/ProgrammingBlockchain.pdb
/ProgrammingBlockchain/bin/Debug/netcoreapp2.0/ProgrammingBlockchain.runtimeconfig.dev.json
/ProgrammingBlockchain/bin/Debug/netcoreapp2.0/ProgrammingBlockchain.runtimeconfig.json
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.AssemblyInfo.cs
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.AssemblyInfoInputs.cache
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.csproj.CoreCompileInputs.cache
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.csproj.FileListAbsolute.txt
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.csprojResolveAssemblyReference.cache
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.dll
/ProgrammingBlockchain/obj/Debug/netcoreapp2.0/ProgrammingBlockchain.pdb
/ProgrammingBlockchain/obj/ProgrammingBlockchain.csproj.nuget.cache
/ProgrammingBlockchain/obj/ProgrammingBlockchain.csproj.nuget.g.props
/ProgrammingBlockchain/obj/ProgrammingBlockchain.csproj.nuget.g.targets
/ProgrammingBlockchain/obj/project.assets.json
